html,
body {
  padding: 0;
  margin: 0;
  font-family:  Trebuchet MS, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


div {
  
  .flavor-container {
    display: flex;
    width: 80%;
    border: 15px solid green;
    align-items: center;
    align-content: center;
  }
  
  .flavor-name {
    padding: 0;
    margin: 5px;
    font-family: "Trebuchet MS" , Helvetica , sans-serif;
    color: #050505;
    
  }
  .flavor-discription {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
